body {
    background-color: #635a42;
    margin: 0;
    padding: 0px;
}

* {
    margin: 0;
    padding: 0px;
    font-family: "Cormorant Garamond", serif;
}


/*Navegador*/
.saludo {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 1%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: end;
    position: relative;
    
}

nav li {
    margin: 0 10px;
    
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px; 
    font-size: 20px;
}

nav a:hover {
    background-color: #213620
}


.linea {
    position: relative;
}


/*DONAS*/
.container {
    display: flex;
    justify-content: space-around;
}

.container img {
    width: 270px;
    height: 270px;
    margin-top: 5%;
    border-radius: 50%;
}

.container img {
    transition: transform 1s ease-in-out; 
}

.container img:hover {
    transform: scale(1.2);
}

.linea-2 {
    margin-top: 40px;
}



/*Pie de pagina*/
footer {
    background-color: #213620;
    color: #fff;
    padding: 10px;
    margin-top: 5%;
    height: 80px;
    display: flex; 
    flex-direction:column;
    justify-content: center; 
    align-items: center; 
}

.redes-sociales {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    padding: 5px;
}

.redes-sociales i {
    font-size: 20px;
    color: #fff;
}

.redes-sociales i:hover {
    color: black; 
}




